
.container {
    display: flex;
    align-items: center;
    background-color: gray;
    width: 100%;
    justify-content: space-between;
}

.navbar__left h2 {
    cursor: pointer;
}

.navbar__right > span {
    margin-left: 20px;
    cursor: pointer;
}